* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "MuseoModerno", cursive;

    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
button {
    border: none;
    background: none;
    cursor: pointer;
    outline: none;
    width: 45px;
    height: 45px;
    background-size: 45px 45px;
}

.container {
    display: flex;
    margin: 0 auto;
    justify-content: center;
}
.wrapper {
    width: 400px;
    height: 600px;
    border: 2px solid #264653;
    box-sizing: content-box;
    position: relative;
}
.row {
    display: flex;
}
.box {
    width: 40px;
    height: 40px;
    background-color: black;
    border: 1px solid#264653;
}
.start {
    position: absolute;
    z-index: 1000;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    width: 240px;
    border: 2px solid #fb5607;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    background-color: #ffff;
}
.start__img {
    width: 236px;
    display: block;
    margin: 0 auto;
    padding: 20px 40px;
}
.start__title-wrapper {
    display: flex;
}
.start__title {
    font-weight: 700;
    font-size: 24px;
    margin-bottom: 25px;
}
.start__btn {
    background-image: url("./img/play.png");
    margin-left: 10px;
}
.score {
    margin-left: 20px;
    margin-top: 20px;
    display: none;
}
.end {
    position: absolute;
    z-index: 1000;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    width: 240px;
    background-color: rgba(95, 42, 165, 0.747);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    margin: 0 auto;
    padding: 5px 0;

    display: none;
}
.end__score,
.end__high {
    margin-top: 15px;
    color: #fff;
}

.end__replay {
    margin: 15px 0;
    background-image: url("./img/replay.png");
}
.end__replay:hover,
.start__btn:hover {
    transform: scaleX(1.2) scaleY(1.2);
}
